<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/home">Music</a>
    <div class="navbar-nav ml-md-0 ml-3">
        <a class="nav-link" href="/home">home</a>
    </div>

</nav>
<div class="footer-margin" th:fragment="footer">
    <footer class="footer bg-light fixed-bottom p-1">
        <p>Humming Bee</p>
    </footer>
</div>

</body>
</html>